@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    scroll-behavior: smooth;
} 

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:#c1b8d1;
}

ul {
    list-style: none;
}

.banner {
    background-image: url(resources/images/banner-image.jpg);
}

/* Start Nav */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0;
}

.menu li {
    display: inline-block;
    padding: 15px 20px;
}

.logo {
    width: 80px;
    height: auto;
    margin-right: auto;
    margin-left: 10%;
}

nav {
    margin-right: 10%;
}

label{
    text-align: right;
    margin-right: 10px;
    font-size: 50px;
    display: none;
}

#toggle {
    display: none;
}

/* End Nav */

.banner-text {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 40px;
}

h2 {
    font-size: 60px;
    font-weight: 450;
    margin: 20px 0;
}

h3 {
    font-size: 35px;
    font-weight: 800;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

h6 {
    font-size: 22px;
    font-weight: 200;
    margin-top: 5%;
}

p {
    font-size: 16px;   
    padding-bottom: 12px;
}

.features-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.triple-column {
    display: grid;
    grid-template-columns: 13% 24% 26% 24% 13%;
    align-content: center;
}

.left {
    grid-column: 2;
}

.middle {
    grid-column: 3;
}

.right {
    grid-column: 4;
}

.features h5 {
    padding-top: 30px;
    margin-bottom: 10px;
}

.features p {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(1, 36, 97, 0.2);
}

.feature-button {
    text-align: center;
    padding: 0 0 60px 0;
}

.cta {
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	padding:18px 80px;
    text-decoration:none;
    margin-top: 60px;
    margin-bottom:40px;
}

.white-button {
    color: #012461;
    border:1px solid#FFFFFF;
    background: #FFFFFF;
}

.blue-button {
    color: #FFFFFF;
    border: 1px solid #012461;
    background: #012461;
}

.blue {
    color: #012461;
}

.cleaning {
    background: #D0D8D6;
    display: grid;
    grid-template-columns: 7% repeat(2, 1fr) 7%;
    column-gap: 80px;
    padding: 80px 0;
}

.stat-box {
    border: 1px solid #a5bfeb;
    margin: 40px 20px 0 60px;
    padding: 20px;
}

.rivers, .contact {
    background: #012461;
    height: 500px;  
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rivers h2 {
    margin-top: 60px;
    margin-bottom: 40px;
}

.contact {
    justify-content: center;
}

.float-over {
    display: block;
    z-index: 100;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
}

.lifestyle {
    display: grid;
    grid-template-columns: 1px 1fr 1px 1fr;
    column-gap: 40px;
    padding: 80px 100px;  
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background: #012461;
    display: flex;
    justify-content: flex-start;
    padding: 30px 10%;
}

footer li {
    display: inline-block;
    padding: 0 10px;
    font-weight: 600;
}

.social {
    margin-left: auto;
    font-size: 2em;
}

.links img {
    padding: 0 20px 0 0;
}

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
        img {
            width: 100%;
            height: auto;
        }

        h1 {
            font-size: 60px;
        }

        h2 {
            font-size: 40px;    
        }

        h4 {
            font-size: 18px;
        }

        h6 {
            font-size: 20px;
        }

        .float-over {
            margin-top: -30px;
            z-index: 100;
            width: 850px;
            height: auto;
        }

        header {
            padding: 10px 0;
        }
        
        label {
            display: block;
            cursor: pointer;
        }

        .menu {
            display: none;
        }

        .logo {
            display: none;
        }

        input[type="checkbox"]:checked ~ .menu {
            display: block;
            text-align: center;
            width: 100%;
            z-index: 100;
        }

        nav {
            margin-right: 0;
            width: 100%;
        }

        nav li {
            width: 100%;
            padding: 20px 100px;
            background: #012461 ;
            border: 1px solid #093a8d;
            font-size: 1.5em;
            text-align: center;
        }

        .banner-text {
            margin: 10px 20px;
            text-align: center;
        }

        .middle {
            display: none;
            width: 1px;
        }

        .features {
            display: block; 
            text-align: center;
        }

        .cleaning {
            display: block;
            padding: 10px 80px;
        }

        .float-over {
            display: block;
            z-index: 1;
            margin-top: 0px;
        }

        .lifestyle {
            display: block;
            column-gap: 0;
            padding: 0 80px;
        }

        .lifestyle img {
            display: none;
        }

        .product {
            margin: 0 20px;
        }

        .product p {
            margin: 10px 0;
        }

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        h2 {
            text-align: center;
        }

        h6 {
            text-align: center;
        }

        .triple-column {
            display: block;
            padding: 0 60px;
            margin: 0 auto;
        }

        .cleaning {
            padding: 10px 20px;
        }

        .float-over {
            display: block;
            width: 100%;
            height: auto;
        }

        .lifestyle {
            padding: 10px 20px;
        }

        .rivers {   
            display: block;
            padding: 20px 20px;
        }

        .rivers h2 {
            margin-top: 20px;
        }

        .product {
            text-align: left;
        }

        .product .cta {
            text-align: center; 
        }

        .contact {
            height: 300px;
        }

        footer .links {
            display: none;
        }
        
    }
